<div id="basecero">
<div id="base">
    {{#each productos}}
        <div >
           <p> {{this.title}} </p>
           <p> {{this.description}} </p>
           <img class="image" src="{{this.thumbnail}}"></img>
        </div>
    {{/each}}
</div>
</div>
